.icon__git {
    .front {
        fill: $newgreylight;
    }
    .back {
        fill: $white_primary;
    }
    &:hover {
        .front {
            fill: $white_primary;
        }
        .back {
            fill: $newgreylight;
        }
    }
}

.icon__cv {
    .frame {
        fill: $white_primary;
    }
    .back {
        fill: $newgreylight;
    }
    .rect_l {
        fill: $white_primary;
    }
    .rect_s {
        fill: $white_primary;
    }
    .pic {
        fill: $white_primary;
    }
    &:hover {
        .frame {
            fill: $newgreylight;
        }
        .back {
            fill: $white_primary;
        }
        .rect_l {
            fill: $newgreylight;
        }
        .rect_s {
            fill: $newgreylight;
        }
        .pic {
            fill: $newgreylight;
        }
    }
}