@font-face {
  font-family: 'mr_dafoe-regular';
  src: url("base/fonts/mr-dafoe/mr_dafoe-regular.eot");
  src: url("base/fonts/mr-dafoe/mr_dafoe-regular.eot?#iefix") format("embedded-opentype"), url("base/fonts/mr-dafoe/mr_dafoe-regular.woff2") format("woff2"), url("base/fonts/mr-dafoe/mr_dafoe-regular.woff") format("woff"), url("base/fonts/mr-dafoe/mr_dafoe-regular.ttf") format("truetype"), url("base/fonts/mr-dafoe/mr_dafoe-regular.svg#mr_dafoeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-regular';
  src: url("base/fonts/montserrat/montserrat-regular.eot");
  src: url("base/fonts/montserrat/montserrat-regular.eot?#iefix") format("embedded-opentype"), url("base/fonts/montserrat/montserrat-regular.woff2") format("woff2"), url("base/fonts/montserrat/montserrat-regular.woff") format("woff"), url("base/fonts/montserrat/montserrat-regular.ttf") format("truetype"), url("base/fonts/montserrat/montserrat-regular.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#root {
  background-image: url("/public/assets/backgrounds/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-clip: border-box;
  min-height: 100vh;
}

body * {
  text-align: center;
  font-family: 'montserrat-regular', sans-serif;
}

header h1 {
  font-family: 'mr_dafoe-regular', cursive;
  font-weight: bold;
  font-size: 3rem;
  background-color: #000000;
  color: #FFFFFF;
  padding: 1.5rem 0rem;
  width: 100%;
}

header div {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #FFFFFF;
  color: #000000;
}

header p {
  margin: 1rem auto;
  padding: 0.5rem;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 2rem;
}

header ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 60px;
}

header ul img {
  width: 2rem;
  height: auto;
  margin: auto;
}

header ul span {
  margin: 0.5rem auto;
  font-size: 12px;
}

@media all and (min-width: 768px) {
  header div {
    max-width: 70%;
  }
  header p, header ul {
    width: 500px;
    max-width: 50%;
  }
}

main {
  background-color: #FFFFFF50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 1rem;
}

@media all and (min-width: 768px) {
  main {
    max-width: 70%;
  }
}

.card__block {
  width: 300px;
  height: auto;
  max-width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 1rem;
}

.card__block h2 {
  font-family: 'mr_dafoe-regular', cursive;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #000000;
  color: #FFFFFF;
  padding: 0.75rem 0rem;
  width: 100%;
}

.card__info {
  width: 300px;
  height: 300px;
  max-width: 90vw;
  overflow: hidden;
}

.card__base {
  width: 300px;
  height: 300px;
  max-width: 90vw;
  background-color: #FFFFFF;
  position: absolute;
  z-index: 1;
}

.card__base div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 300px;
  height: calc(300px - 1.5rem);
  max-width: 90vw;
}

.card__base img {
  width: 90%;
  height: auto;
  border: 2px outset #000000;
  background-color: #000000;
}

.card__base a {
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  color: #000000;
  background-color: #FFFFFF;
  border: 2px outset #000000;
}

.card__base a:hover, .card__base a:active {
  color: #FFFFFF;
  background-color: #000000;
  border: 2px outset #FFFFFF;
}

.card__drawer {
  width: 300px;
  height: 300px;
  max-width: 90vw;
  position: relative;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  z-index: 10;
}

.card__drawer div, .card__drawer svg {
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.card__drawer__tip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 300px;
  height: 1.5rem;
  max-width: 90vw;
}

.card__drawer__tip:hover {
  cursor: pointer;
}

.card__drawer__tip svg {
  width: calc(1.5rem - 4px);
  height: auto;
}

.card__drawer.default, .card__drawer.closed {
  top: calc(300px - 1.5rem);
}

.card__drawer.default div:nth-child(1), .card__drawer.closed div:nth-child(1) {
  background-color: #000000;
}

.card__drawer.default div:nth-child(1) svg, .card__drawer.closed div:nth-child(1) svg {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  fill: #FFFFFF;
}

.card__drawer.default div:nth-child(2), .card__drawer.closed div:nth-child(2) {
  background-color: #FFFFFF;
}

.card__drawer.open {
  top: 0px;
}

.card__drawer.open div:nth-child(1) {
  background-color: #FFFFFF;
}

.card__drawer.open div:nth-child(1) svg {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  fill: #000000;
}

.card__drawer.open div:nth-child(2) {
  background-color: #000000;
}

.card__drawer__info {
  width: 300px;
  height: calc(300px - 1.5rem);
  max-width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.card__description {
  width: auto;
  height: calc(calc(300px - 1.5rem) - 1rem);
  -webkit-box-shadow: inset 0px 12px 6px -10px #000000, inset 0px -12px 6px -10px #000000;
          box-shadow: inset 0px 12px 6px -10px #000000, inset 0px -12px 6px -10px #000000;
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  background-color: #FFFFFF;
  overflow-y: scroll;
}

.card__description::-webkit-scrollbar {
  width: 6px;
}

.card__description::-webkit-scrollbar-thumb {
  background-color: #276D85;
}

.card__description::-webkit-scrollbar-track {
  background-color: #000000;
}

.card__stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 1.5rem;
}

.card__stack img {
  width: 2rem;
  height: auto;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #000000;
  color: #FFFFFF;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

footer p {
  margin: 0.5rem;
}

footer a {
  text-decoration: none;
}

footer svg {
  margin: 0.5rem 2rem;
  width: 3rem;
  height: auto;
}

footer svg path {
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}

.icon__git .front {
  fill: #8C295D;
}

.icon__git .back {
  fill: #276D85;
}

.icon__git:hover .front {
  fill: #276D85;
}

.icon__git:hover .back {
  fill: #8C295D;
}

.icon__cv .frame {
  fill: #276D85;
}

.icon__cv .back {
  fill: #FFFFFF;
}

.icon__cv .rect_l {
  fill: #3ABEE7;
}

.icon__cv .rect_s {
  fill: #E6E938;
}

.icon__cv .pic {
  fill: #8C295D;
}

.icon__cv:hover .frame {
  fill: #FFFFFF;
}

.icon__cv:hover .back {
  fill: #3ABEE7;
}

.icon__cv:hover .rect_l {
  fill: #276D85;
}

.icon__cv:hover .rect_s {
  fill: #8C295D;
}

.icon__cv:hover .pic {
  fill: #E6E938;
}
