@font-face {
    font-family: 'mr_dafoe-regular';
    src: url('base/fonts/mr-dafoe/mr_dafoe-regular.eot');
    src: url('base/fonts/mr-dafoe/mr_dafoe-regular.eot?#iefix') format('embedded-opentype'),
         url('base/fonts/mr-dafoe/mr_dafoe-regular.woff2') format('woff2'),
         url('base/fonts/mr-dafoe/mr_dafoe-regular.woff') format('woff'),
         url('base/fonts/mr-dafoe/mr_dafoe-regular.ttf') format('truetype'),
         url('base/fonts/mr-dafoe/mr_dafoe-regular.svg#mr_dafoeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat-regular';
    src: url('base/fonts/montserrat/montserrat-regular.eot');
    src: url('base/fonts/montserrat/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('base/fonts/montserrat/montserrat-regular.woff2') format('woff2'),
         url('base/fonts/montserrat/montserrat-regular.woff') format('woff'),
         url('base/fonts/montserrat/montserrat-regular.ttf') format('truetype'),
         url('base/fonts/montserrat/montserrat-regular.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}