$black: #000000;
$white_primary : #FFFFFF;
$white_secondary: #FFFFFF50;
$yellow: #E6E938;
$magenta: #8C295D;
$blue_primary: #276D85;
$blue_secondary: #3ABEE7;

$newblue: #0A4E60;
$newtaupe: #CBB28E;
$newgreylight: #706F6F;
$newgreydark: #464A4E;